@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/assets/styles/utills/variables.scss";
@import "@/assets/styles/loaderStyle.scss";
@import "@/assets/styles/svgAnimationStyles.scss";


html {
  position: relative;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100vh;
}

.layout {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $background-light;
  transition: background-color 0.3s;
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    background-color: $background-dark;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;
 
  @media (min-width: 640px) {
    padding: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
  font-weight: 800;
  color: $background-dark;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    color: $background-light;
  }
}

p,
a,
p > span {
  font-weight: 300;
  font-size: 18px;
  color: $background-dark !important;
  line-height: 1.625;

  @media (prefers-color-scheme: dark) {
    color: $background-light !important;
  }
  @media (min-width: 640px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
  }
  @media (min-width: 1536px) {
    font-size: 26px;
  }
}

ul > li {
  list-style-type: "-";
}

svg,
img {
  max-width: 100%;
}

.layout-footer {
  background-image: url("../../../public/day.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media (prefers-color-scheme: dark) {
    background-image: url("../../../public/night.svg");
  }
}

.author {
  opacity: 0;

  &-title {
    opacity: 0;
    animation: loading 2s linear 0.3s forwards;
  }

  &-0 {
    animation: loading 2s linear 2.8s forwards;
  }

  &-img-0 {
    animation: loading 2s linear 2.7s forwards;
  }

  &-1 {
    animation: loading 2s linear 3.8s forwards;
  }

  &-img-1 {
    animation: loading 2s linear 3.7s forwards;
  }

  &-2 {
    animation: loading 2s linear 4.8s forwards;
  }

  &-img-2 {
    animation: loading 2s linear 4.7s forwards;
  }

  &-insta-0 {
    animation: loading 2s linear 3.1s forwards;
  }

  &-insta-1 {
    animation: loading 2s linear 4.1s forwards;
  }

  &-insta-2 {
    animation: loading 2s linear 5.1s forwards;
  }

  &-svg {
    opacity: 0;
    animation: loading 2s linear 0.3s forwards;
  }
}

.player {
  opacity: 0;
  animation: loading 2s linear 13s forwards;
  position: relative;
  padding-top: 56.25%;

  @media (min-width: 1024px) {
    padding-top: 26.8%;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.insta-logo {
  color: $background-dark;

  @media (prefers-color-scheme: dark) {
    color: $background-light;
  }
}