@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/assets/styles/loaderStyle.scss';

:root {
  --background-light: #ede5d0;
  --background-dark: #432816;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  color-scheme: light dark;
  color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (min-width: 640px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
  }
  @media (min-width: 1536px) {
    font-size: 26px;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--background-light);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  color: var(--background-dark);
  @media (prefers-color-scheme: dark) {
    color: var(--background-light);
  }
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--background-light);
  transition: background-color 0.3s;

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-dark);
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.custom-bg {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90vw;
    height: 19vh;
    z-index: -2;
    background-image: url('../../../public/day.svg');
    background-repeat: no-repeat;

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../public/night.svg');

    }
  }
}
