@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/assets/styles/utills/variables.scss";
@import "@/assets/styles/loaderStyle.scss";
@import "@/assets/styles/svgAnimationStyles.scss";

html {
  position: relative;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100vh;
}

[data-theme="light"] {
  .layout {
    background-color: $background-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $background-dark;
  }

  p,
  a,
  p > span {
    color: $background-dark !important;
  }

  .insta-logo {
    color: $background-dark;
  }

  .st01,
  .st21,
  .st31,
  .path-name,
  .path-circle,
  .path-role,
  .path-name--slow,
  .path-name--slow-more,
  .path-role--slow,
  .path-role--slow-more {
    stroke: $background-dark;
  }

  .st10,
  .st0 {
    fill: $background-dark;
  }

  .cactus-list-item {
    &::before {
      content: url("../../../public/mark-list.svg");
    }
  }

  .newtons-cradle {
    --uib-color: #432816;
  }

  .custom-speed-dial-action {
    &:hover {
      background-color: #4328161c !important;
    }
  }

  .error-svg path {
    fill: $background-dark;
  }
}

[data-theme="dark"] {
  .layout {
    background-color: $background-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $background-light;
  }

  p,
  a,
  p > span {
    color: $background-light !important;
  }

  .insta-logo {
    color: $background-light;
  }

  .st01,
  .st21,
  .st31,
  .path-name,
  .path-circle,
  .path-role,
  .path-name--slow,
  .path-name--slow-more,
  .path-role--slow,
  .path-role--slow-more {
    stroke: $background-light;
  }

  .st10,
  .st0 {
    fill: $background-light;
  }

  .cactus-list-item {
    &::before {
      content: url("../../../public/mark-list-night.svg");
    }
  }

  .newtons-cradle {
    --uib-color: #ede5d0;
  }
  .custom-speed-dial-action {
    &:hover {
      background-color: #ede5d015 !important;
    }
  }

  .error-svg path {
    fill: $background-light;
  }
}

.layout {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $background-light;
  transition: background-color 0.3s;
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    background-color: $background-dark;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 640px) {
    padding: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
  font-weight: 800;
  color: $background-dark;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    color: $background-light;
  }
}

p,
a,
p > span {
  font-weight: 300;
  font-size: 16px;
  color: $background-dark !important;
  line-height: 1.625;

  @media (prefers-color-scheme: dark) {
    color: $background-light !important;
  }
}

svg,
img {
  max-width: 100%;
}

.author {
  opacity: 0;

  &-title {
    opacity: 0;
    animation: loading 2s linear 0.3s forwards;
  }

  &-0 {
    animation: loading 2s linear 2.8s forwards;
  }

  &-img-0 {
    animation: loading 2s linear 2.7s forwards;
  }

  &-1 {
    animation: loading 2s linear 3.8s forwards;
  }

  &-img-1 {
    animation: loading 2s linear 3.7s forwards;
  }

  &-2 {
    animation: loading 2s linear 4.8s forwards;
  }

  &-img-2 {
    animation: loading 2s linear 4.7s forwards;
  }

  &-insta-0 {
    animation: loading 2s linear 3.1s forwards;
  }

  &-insta-1 {
    animation: loading 2s linear 4.1s forwards;
  }

  &-insta-2 {
    animation: loading 2s linear 5.1s forwards;
  }

  &-svg {
    opacity: 0;
    animation: loading 2s linear 0.3s forwards;
  }
}

.player {
  opacity: 0;
  animation: loading 2s linear 13s forwards;
  position: relative;
  padding-top: 56.25%;

  @media (min-width: 1024px) {
    padding-top: 26.8%;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.insta-logo {
  color: $background-dark;

  @media (prefers-color-scheme: dark) {
    color: $background-light;
  }
}
