.bg-st0 {
  display: none;
}
.bg-st1 {
  fill: #ede5d0;
}
.bg-st2 {
  fill: #ffffff;
}
.bg-st3 {
  fill: #d6c4a8;
}
.bg-st4 {
  fill: #ee4623;
  transform-origin: center;

}
.bg-st5 {
  fill: #489094;
}

.chapter-list-item {
  list-style: "-";
  padding-left: 0.5rem;
}

.chapter-text {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.chapter-stars {
  text-align: center;
}

.ql-editor .ql-align-justify {
  margin-bottom: 10px;
}

.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
  background-color: transparent !important;
  box-shadow: none !important;
}

.custom-speed-dial-action {
  background-color: transparent !important;
  box-shadow: none !important;
}