.bg-st0 {
  display: none;
}
.bg-st1 {
  fill: #ede5d0;
}
.bg-st2 {
  fill: #ffffff;
}
.bg-st3 {
  fill: #d6c4a8;
}
.bg-st4 {
  fill: #ee4623;
  transform-origin: center;

}
.bg-st5 {
  fill: #489094;
}
