@import "@/assets/styles/utills/variables.scss";

.meditation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/meditation-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.card {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
  height: 95%;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 640px;
  z-index: 2;
}

.card__menu {
  cursor: pointer;
}

.card__title {
  font-weight: 500;
  font-size: 28px;
  color: $background-light;
  text-align: center;
  margin-bottom: 10px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 16px;
  color: $background-light;
  text-align: center;
  cursor: pointer;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.card__time {
  font-weight: 400;
  font-size: 12px;
  color: $background-light;
}

.card__timeline {
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  
}

.card__timeline progress {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  pointer-events: auto;
}

.card__timeline progress::-webkit-progress-bar {
  background-color: #424242;
  border-radius: 100px;
}

.card__timeline progress::-webkit-progress-value {
  background-color: $background-light;
  border-radius: 100px;
}

.card__btn {
  width: 25%;
  border: none;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
}

.card__btn path {
  fill: $background-light;
}
