@import "@/assets/styles/utills/variables.scss";


path {
  stroke-width: 1;
  stroke: $background-dark;
  @media (prefers-color-scheme: dark) {
    stroke: $background-light;
  }
}

.st0 {
  fill: $background-dark;

  @media (prefers-color-scheme: dark) {
    fill: $background-light;
  }
}

.st1 {
  fill: none;
}
.path-circle {
  stroke-width: 3;
}

.path-name {
  animation: visibility 2.2s linear 0.4s backwards;

  &--slow {
    animation: visibility 3.2s linear 0.4s backwards;
  }
  &--slow-more {
    animation: visibility 4.3s linear 0.4s backwards;
  }
}

.path-role {
  animation: visibility 2.3s linear 3.2s backwards;
  &--slow {
    animation: visibility 3.6s linear 2.5s backwards;
  }

  &--slow-more {
    animation: visibility 4s linear 3s backwards;
  }
}

.star {
  animation: visibility 1s linear 3.5s backwards;
  fill: #ed4523;

  &--slow {
    animation: visibility 1s linear 4.5s backwards;
  }
  &--slow-more {
    animation: visibility 1s linear 5.5s backwards;
  }
}

@keyframes visibility {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  96% {
    fill-opacity: 0.2;
  }
  97% {
    fill-opacity: 0.4;
  }
  98% {
    fill-opacity: 0.6;
  }
  99% {
    fill-opacity: 0.8;
  }
  100% {
    fill-opacity: 1;
  }
}

