#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;

  background-image: url('../../../public/meditation-bg.png') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 2s ease-in;
}