#myVideo {
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;

/*   background: url('../../../public/meditation-bg.png') no-repeat;
  background-size: cover; */

}